<doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <style>
            #current-play {
                display: none;
            }
        </style>
    </head>

    <body>
        <form action="/queue" method="get" id="queuesong">
            <input id="search" name="song" type="text">
            <input type="submit" value="submit">
        </form>
        <button id="next">next</button>

        <div id="not-playing">
            <h3>Nothing currently playing</h3>
        </div>

        <div id="current-play">
            <img id="album-img">

            <h2 id="song"></h2>
            <h3 id="artists"></h3>
            <h4 id="album"></h4>
        </div>

        <script>
            function currentPlaying(data) {
                $("#not-playing").hide();
                {#$("#album-img").attr('src', data['album']['images'][0]['url']);#}

                $("#song").text(data['name']);
                $("#artists").text(data['artists'].map(x => x['name']).join(', '));
                $("#album").text(data['album']['name']);
                $("#current-play").show();
            }



            $(document).ready(function() {
                $.ajax({
                    url:'/display',
                    type:'get',
                    success:function(data){
                        console.log(data);
                        if (data === "-1") {
                            $("#not-playing").show();
                            $("#current-play").hide();
                        }
                        else currentPlaying(data['item'])
                    }
                });
            });

            $('#queuesong').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url:'/queue',
                    type:'get',
                    data:$('#queuesong').serialize(),
                    success:function(data){
                        console.log(data);
                        currentPlaying(data)
                    }
                });
            });

            $('#search').keyup(function(e){
                e.preventDefault();
                $.ajax({
                    url:'/search',
                    type:'get',
                    data:$('#queuesong').serialize(),
                    success:function(data){
                        console.log(data);
                    }
                });
            });

            $('#next').click(function(){
                $.ajax({
                    url:'/next',
                    success:function(result){
                        alert(result)
                    }
                });
            });
        </script>
    </body>
</html>