<doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <style>
            #current-play {
                display: none;
            }
        </style>
    </head>

    <body>
        <h1>Currently Playing:</h1>
        <div id="not-playing">
            <h3>Nothing currently playing</h3>
        </div>

        <div id="current-play">
            <img id="album-img">

            <h2 id="song"></h2>
            <h3 id="artists"></h3>
            <h4 id="album"></h4>
        </div>

        <button id="next">Next</button>
        <button id="add"><a href="/search.html">Add</a></button>

        <br>
        <div id="nextup">
            <h3>Nothing up next - <a href="search.html">add a song!</a></h3>
        </div>

        <script>
            function currentPlaying(data) {
                $("#not-playing").hide();
                {#$("#album-img").attr('src', data['album']['images'][0]['url']);#}

                $("#song").text(data['name']);
                $("#artists").text(data['artists'].map(x => x['name']).join(', '));
                $("#album").text(data['album']['name']);
                $("#current-play").show();
            }

            $(document).ready(function() {
                $.ajax({
                    url:'/display',
                    type:'get',
                    success:function(data){
                        console.log(data);
                        if (data === "-1") {
                            $("#not-playing").show();
                            $("#current-play").hide();
                        }
                        else currentPlaying(data['item'])
                    }
                });

                $.ajax({
                    url:'/upnext',
                    type:'get',
                    success:function(data){
                        document.getElementById('nextup').innerHTML = '';
                        data['items'].forEach(item => {
                            item = item['track'];
                            console.log(item);
                            document.getElementById('nextup').innerHTML += `
                                <div class="col s12 m8 offset-m2 l6 offset-l3">
                                    <div class="card-panel grey lighten-5 z-depth-1">
                                      <div class="row valign-wrapper">
                                        <div class="col s2">
                                          <img src="` + item['album']['images'][2]['url'] + `" alt="" class="responsive-img">
                                        </div>
                                        <div class="col s10">
                                          <span class="black-text">
                                             <h5><bold><b><strong>` + item['name'] + `</bold></b></strong></h5>
                                             <h5>` + item['artists'].map(x => x['name']).join(', ') + `</h5>
                                             <h5>` + item['album']['name'] + `</h5>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            `
                        })
                    }
                });
            });

            setInterval(5000, currentPlaying())

            $('#next').click(function(){
                $.ajax({
                    url:'/next',
                    success:function(result){
                        console.log(result)
                    }
                });
            });
        </script>
    </body>
</html>